{% for item in nav.items %}
{% if page.url == item.url and item.icon %}
<img src="{{ item.icon }}" alt="" class="page-hero-icon" style="height: {{ item.icon_size | default(300, true) }}px;">
{% endif %}
{% endfor %}
